{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/procesarActualizacioEquipos/" enctype="multipart/form-data" method="post" id="frm_nuevo_equipo">
          {% csrf_token %}
          <input type="hidden" name="id_equi" value="{{ equipos.id_equi }}">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre_equi"><b><i class="fas fa-users"></i> Nombre Equipo:</b></label>
              <input type="text" name="nombre_equi" id="nombre_equi" value="{{ equipos.nombre_equi }}" class="form-control" placeholder="Ingrese el Nombre del Equipo" required>
            </div>
            <div class="form-group col-md-6">
              <label for="siglas_equi"><b><i class="fas fa-info-circle"></i> Siglas Equipo:</b></label>
              <input type="text" name="siglas_equi" id="siglas_equi" value="{{ equipos.siglas_equi }}" class="form-control" placeholder="Ingrese las Siglas del Equipo" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="region_equi"><b><i class="fas fa-map-marker-alt"></i> Región:</b></label>
              <select name="region_equi" id="region_equi" class="form-control" required>
                <option value="">Seleccione una región</option>
                <option value="Costa" {% if equipos.region_equi == "Costa" %}selected{% endif %}>Costa</option>
                <option value="Sierra" {% if equipos.region_equi == "Sierra" %}selected{% endif %}>Sierra</option>
                <option value="Amazonia" {% if equipos.region_equi == "Amazonia" %}selected{% endif %}>Amazonia</option>
                <option value="Insular" {% if equipos.region_equi == "Insular" %}selected{% endif %}>Insular</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="numero_titulos_equi"><b><i class="fas fa-trophy"></i> Número Títulos:</b></label>
              <input type="number" name="numero_titulos_equi" id="numero_titulos_equi" value="{{ equipos.numero_titulos_equi }}" class="form-control" placeholder="Ingrese el Número de Títulos" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fundacion_equi"><b><i class="fas fa-calendar-alt"></i> Fundación:</b></label>
              <input type="number" name="fundacion_equi" id="fundacion_equi" value="{{ equipos.fundacion_equi }}" class="form-control" placeholder="Ingrese el Año de Fundación" required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>
            <a href="{% url 'listadoEquipo' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
        $(document).ready(function () {
            $("#frm_nuevo_equipo").validate({
                rules: {
                    "nombre_equi": {
                        required: true,
                        minlength: 3,
                        maxlength: 70,

                    },
                    "siglas_equi": {
                        required: true,
                        minlength: 2,
                        maxlength: 10,

                    },
                    "region_equi": {
                        required: true
                    },
                    "numero_titulos_equi": {
                        required: true,
                        digits: true,
                        minlength: 1,
                        maxlength: 3
                    },
                    "fundacion_equi": {
                        required: true,
                        digits: true,
                        minlength: 4,
                        maxlength: 4
                    }
                },
                messages: {
                    "nombre_equi": {
                        required: "Debe ingresar el nombre del equipo",
                        minlength: "El nombre del equipo debe tener al menos 3 caracteres",
                        maxlength: "El nombre del equipo no puede tener más de 70 caracteres"
                    },
                    "siglas_equi": {
                        required: "Debe ingresar las siglas del equipo",
                        minlength: "Las siglas deben tener al menos 2 caracteres",
                        maxlength: "Las siglas no pueden tener más de 10 caracteres"
                    },
                    "region_equi": {
                        required: "Debe ingresar la región del equipo"
                    },
                    "numero_titulos_equi": {
                        required: "Debe ingresar los títulos del equipo",
                        digits: "Por favor, ingrese solo números",
                        minlength: "Los títulos deben tener al menos 1 dígito",
                        maxlength: "Los títulos no pueden tener más de 3 dígitos"
                    },
                    "fundacion_equi": {
                        required: "Debe ingresar el año de fundación del equipo",
                        digits: "Por favor, ingrese solo números",
                        minlength: "El año de fundación debe tener 4 dígitos",
                        maxlength: "El año de fundación debe tener 4 dígitos"
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        function soloLetras(input) {
            input.value = input.value.replace(/[^a-zA-Z ]/g, '');
        }

        function soloNumeros(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function validarCorreo(input) {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!regex.test(input.value)) {
                input.setCustomValidity('Ingrese un correo válido.');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
{% endblock %}
