{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/procesarActualizacioPosicion/" enctype="multipart/form-data" method="post" id="frm_nueva_posicion">
          {% csrf_token %}
          <input type="hidden" name="id_pos" value="{{ posiciones.id_pos }}">
          <div class="form-group">
            <label for="nombre_pos"><b><i class="fas fa-user"></i> Nombre Posición:</b></label>
            <input type="text" name="nombre_pos" id="nombre_pos" value="{{ posiciones.nombre_pos }}" class="form-control" oninput="soloLetras(this)" placeholder="Ingrese el Nombre de la Posición" required>
          </div>
          <div class="form-group">
            <label for="descripcion_pos"><b><i class="fas fa-file-alt"></i> Descripción Posición:</b></label>
            <textarea name="descripcion_pos" rows="3" id="descripcion_pos" class="form-control" oninput="soloLetras(this)" placeholder="Ingrese la Descripción de la Posición" required>{{ posiciones.descripcion_pos }}</textarea>
          </div>


          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>
            <a href="{% url 'listadoPosicion' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
    $("#frm_nueva_posicion").validate({
        rules: {
            "nombre_pos": {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            "descripcion_pos": {
                required: true,
                minlength: 8,
                maxlength: 200
            }
        },
        messages: {
            "nombre_pos": {
                required: "Debe ingresar el nombre de la posición",
                minlength: "El nombre de la posición debe tener al menos 5 caracteres",
                maxlength: "El nombre de la posición no puede tener más de 50 caracteres"
            },
            "descripcion_pos": {
                required: "Debe ingresar la descripción de la posición",
                minlength: "La descripción de la posición debe tener al menos 8 caracteres",
                maxlength: "La descripción de la posición no puede tener más de 200 caracteres"
            }
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
});

function soloLetras(input) {
    input.value = input.value.replace(/[^a-zA-Z ]/g, '');
}
</script>
{% endblock %}
