{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="row">
  <div class="form-group col-md-8">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/procesarActualizacionJugador/" enctype="multipart/form-data" method="post" id="frm_nuevo_jugador">
          {% csrf_token %}
          <input type="hidden" name="id_jug" value="{{ jugadores.id_jug }}">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="cliente_id_cliente">
                <b><i class="fas fa-users"></i> Equipo</b>
              </label>
              <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="id_equi_fk_equi" id="id_equi_fk_equi" required data-live-search-placeholder="Buscar equipo...">
                <option value="">Seleccione el Equipo</option>
                {% for equipo in equipos %}
                <option value="{{ equipo.id_equi }}">{{ equipo.nombre_equi }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="id_mesa_mesa">
                <b><i class="fas fa-map-marker-alt"></i> Posición</b>
              </label>
              <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="id_pos_posicion" id="id_pos_posicion" required data-live-search-placeholder="Buscar posición...">
                <option value="">Seleccione la Posición</option>
                {% for posicion in posiciones %}
                <option value="{{ posicion.id_pos }}">{{ posicion.nombre_pos }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <script type="text/javascript">
            document.getElementById("id_equi_fk_equi").value="{{jugadores.fk_equi.id_equi}}";
          </script>
          <script type="text/javascript">
            document.getElementById("id_pos_posicion").value="{{jugadores.fk_pos.id_pos}}";
          </script>
          <br>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="apellido_jug">
                <b><i class="fas fa-user"></i> Apellido Jugador :</b>
              </label>
              <input type="text" name="apellido_jug" id="apellido_jug" placeholder="Ingrese Apellido del Jugador" value="{{ jugadores.apellido_jug }}" class="form-control" oninput="soloLetras(this)"required>
            </div>
            <div class="form-group col-md-6">
              <label for="nombre_jug">
                <b><i class="fas fa-user"></i> Nombre Jugador:</b>
              </label>
              <input type="text" name="nombre_jug" id="nombre_jug" placeholder="Ingrese el Nombre Jugador" value="{{ jugadores.nombre_jug }}" class="form-control" oninput="soloLetras(this)"required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="estatura_jug">
                <b><i class="fas fa-ruler-vertical"></i> Estatura Jugador:</b>
              </label>
              <input type="number" name="estatura_jug" id="estatura_jug" placeholder="Ingrese la Estatura Jugador" value="{{ jugadores.estatura_jug }}" class="form-control" oninput="soloNumeros(this)"required>
            </div>
            <div class="form-group col-md-6">
              <label for="salario_jug">
                <b><i class="fas fa-dollar-sign"></i> Salario Jugador:</b>
              </label>
              <input type="number" name="salario_jug" id="salario_jug" placeholder="Ingrese el Salario Jugador" value="{{ jugadores.salario_jug }}" class="form-control" oninput="soloNumeros(this)"required>
            </div>
          </div>
          <div class="form-group">
            <label for="estado_jug">
              <b><i class="fas fa-user-check"></i> Estado Jugador:</b>
            </label>
            <select name="estado_jug" id="estado_jug" placeholder="Ingrese el Estado Jugador" class="form-control" required>
              <option value="Activo" {% if jugadores.estado_jug == "Activo" %}selected{% endif %}>Activo</option>
              <option value="Inactivo" {% if jugadores.estado_jug == "Inactivo" %}selected{% endif %}>Inactivo</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">
              &nbsp;&nbsp;&nbsp; Actualizar &nbsp;&nbsp;&nbsp;
            </button>
            <a href="{% url 'listadoJugador' %}" class="btn btn-danger">
              Cancelar
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
				$(document).ready(function () {
					$("#frm_nuevo_jugador").validate({
									rules: {
											"id_equi_fk_equi": {
													required: true
											},
											"id_pos_posicion": {
													required: true
											},
											"apellido_jug": {
													required: true,
													minlength: 3,
													maxlength: 30
											},
											"nombre_jug": {
													required: true,
													minlength: 3,
													maxlength: 30
											},
											"estatura_jug": {
													required: true,
													number: true
											},
											"salario_jug": {
													required: true,
													number: true
											},
											"estado_jug": {
													required: true
											}
									},
									messages: {
											"id_equi_fk_equi": {
													required: "Debe ingresar el ID del equipo"
											},
											"id_pos_posicion": {
													required: "Debe ingresar el ID de la posición"
											},
											"apellido_jug": {
													required: "Debe ingresar el apellido del jugador",
													minlength: "El apellido del jugador debe tener al menos 3 caracteres",
													maxlength: "El apellido del jugador no puede tener más de 30 caracteres"
											},
											"nombre_jug": {
													required: "Debe ingresar el nombre del jugador",
													minlength: "El nombre del jugador debe tener al menos 3 caracteres",
													maxlength: "El nombre del jugador no puede tener más de 30 caracteres"
											},
											"estatura_jug": {
													required: "Debe ingresar la estatura del jugador",
													number: "Por favor, ingrese un número válido para la estatura"
											},
											"salario_jug": {
													required: "Debe ingresar el salario del jugador",
													number: "Por favor, ingrese un número válido para el salario"
											},
											"estado_jug": {
													required: "Debe ingresar el estado del jugador"
											}
									},
									submitHandler: function (form) {
											form.submit();
									}
								});
				});

				function soloLetras(input) {
				input.value = input.value.replace(/[^a-zA-Z ]/g, '');
				}

				function soloNumeros(input) {
				input.value = input.value.replace(/[^0-9.,]/g, '');
				}

				function validarCorreo(input) {
				const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
				if (!regex.test(input.value)) {
					input.setCustomValidity('Ingrese un correo válido.');
				} else {
					input.setCustomValidity('');
				}
			}

    </script>
{% endblock %}
