{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	<i class="fas fa-plus"></i> Agregar Reserva
</button>
<br>
<br>
<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Listado Jugadores</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tbl_jugadores" class="display table table-striped table-hover">
                      <thead>
                      <tr>
                      <th>ID</th>
                      <th>APELLIDO-JUG</th>
                      <th>NOMBRE-JUG</th>
                      <th>ESTATURA-JUG</th>
                      <th>SALARIO</th>
											<th>ESTADO</th>
                      <th>EQUIPO</th>
                      <th>POSICION</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for jugador in jugadores %}
                    <tr>
                      <td>{{ jugador.id_jug }}</td>
                      <td>{{ jugador.apellido_jug }}</td>
                      <td>{{ jugador.nombre_jug }}</td>
											<td>{{ jugador.estatura_jug }}</td>
                      <td>{{ jugador.salario_jug }}</td>
                      <td>{{ jugador.estado_jug }}</td>
											<td>{{ jugador.fk_equi.nombre_equi }}</td>
                      <td>{{ jugador.fk_pos.nombre_pos}}</td>
                      <td>

												<a href="/editarJugador/{{jugador.id_jug}}" class="btn btn-warning">
												    <i class="fas fa-edit"></i>
												</a>
												<a href="javascript:void(0)" onclick="eliminarJugadores('{{jugador.id_jug}}');" class="btn btn-danger">
												    <i class="fas fa-trash-alt"></i>
												</a>

                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
            <!-- Button trigger modal -->


				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar Una Reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div class="modal-body">
				  <form action="/guardarJugadores/" method="post" enctype="multipart/form-data" id="frm_nuevo_jugador">
				    {% csrf_token %}
						<div class="row">
						  <div class="form-group col-md-6">
						    <label for="cliente_id_cliente">
						      <b><i class="fas fa-users"></i> Equipo</b>
						    </label>
						    <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="id_equi_fk_equi" id="id_equi_fk_equi" required data-live-search-placeholder="Buscar equipo...">
						      <option value="">Seleccione el Equipo</option>
						      {% for equipo in equipos %}
						      <option value="{{ equipo.id_equi }}">{{ equipo.nombre_equi }}</option>
						      {% endfor %}
						    </select>
						  </div>
						  <div class="form-group col-md-6">
						    <label for="id_mesa_mesa">
						      <b><i class="fas fa-map-marker-alt"></i> Posición</b>
						    </label>
						    <select class="form-control selectpicker" data-live-search="true" data-live-search-style="startsWith" name="id_pos_posicion" id="id_pos_posicion" required data-live-search-placeholder="Buscar posición...">
						      <option value="">Seleccione la Posición</option>
						      {% for posicion in posiciones %}
						      <option value="{{ posicion.id_pos }}">{{ posicion.nombre_pos }}</option>
						      {% endfor %}
						    </select>
						  </div>
						</div>
						<br>
						<div class="row">
						  <div class="form-group col-md-6">
						    <label for="apellido_jug">
						      <b><i class="fas fa-user"></i> Apellido Jugador :</b>
						    </label>
						    <input type="text" name="apellido_jug" id="apellido_jug" oninput="soloLetras(this)" placeholder="Ingrese el Apellido Jugador" class="form-control" required>
						  </div>
						  <div class="form-group col-md-6">
						    <label for="nombre_jug">
						      <b><i class="fas fa-user"></i> Nombre Jugador:</b>
						    </label>
						    <input type="text" name="nombre_jug" id="nombre_jug" oninput="soloLetras(this)" placeholder="Ingrese el Nombre Jugador " class="form-control" required>
						  </div>
						</div>
						<br>
						<div class="row">
						  <div class="form-group col-md-6">
						    <label for="estatura_jug">
						      <b><i class="fas fa-ruler-vertical"></i> Estatura Jugador:</b>
						    </label>
						    <input type="number" name="estatura_jug" id="estatura_jug" oninput="soloNumeros(this)" placeholder="Ingrese la Estatura Jugador" class="form-control" step="0.01" required>
						  </div>
						  <script type="text/javascript">
						    document.getElementById("estatura_jug").value = "{{detalles.estatura_jug}}";
						  </script>
						  <div class="form-group col-md-6">
						    <label for="salario_jug">
						      <b><i class="fas fa-dollar-sign"></i> Salario Jugador:</b>
						    </label>
						    <input type="number" name="salario_jug" id="salario_jug" oninput="soloNumeros(this)" placeholder="Ingrese Salario Jugador" class="form-control" required>
						  </div>
						</div>
						<div class="form-group">
						  <label for="estado_jug">
						    <b><i class="fas fa-user-check"></i> Estado Jugador:</b>
						  </label>
						  <select name="estado_jug" id="estado_jug" class="form-control" placeholder="Ingrese el Estado Jugador" required>
						    <option value="">Seleccione el estado</option>
						    <option value="Activo">Activo</option>
						    <option value="Inactivo">Inactivo</option>
						  </select>
						</div>

				    <br>
				  </form>
				</div>
      <br>
      <br>
      <div class="modal-footer">
        <button type="submit" form="frm_nuevo_jugador" class="btn btn-secondary">Guardar</button>
				<button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>



<script>
function eliminarJugadores(id_jug) {
    swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        buttons: {
            cancel: {
                visible: true,
                text: 'No, cancelar',
                className: 'btn btn-secondary'
            },
            confirm: {
                text: 'Sí, eliminarlo',
                className: 'btn btn-danger'
            }
        }
    }).then((willDelete) => {
        if (willDelete) {
            window.location.href = '/eliminarJugadores/' + id_jug;
        } else {
            swal("¡La Reserva está seguro!", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                }
            });
        }
    });
}
</script>
<script>
				$(document).ready(function () {
					$("#frm_nuevo_jugador").validate({
									rules: {
											"id_equi_fk_equi": {
													required: true
											},
											"id_pos_posicion": {
													required: true
											},
											"apellido_jug": {
													required: true,
													minlength: 3,
													maxlength: 30
											},
											"nombre_jug": {
													required: true,
													minlength: 3,
													maxlength: 30
											},
											"estatura_jug": {
													required: true,
													number: true
											},
											"salario_jug": {
													required: true,
													number: true
											},
											"estado_jug": {
													required: true
											}
									},
									messages: {
											"id_equi_fk_equi": {
													required: "Debe ingresar el ID del equipo"
											},
											"id_pos_posicion": {
													required: "Debe ingresar el ID de la posición"
											},
											"apellido_jug": {
													required: "Debe ingresar el apellido del jugador",
													minlength: "El apellido del jugador debe tener al menos 3 caracteres",
													maxlength: "El apellido del jugador no puede tener más de 30 caracteres"
											},
											"nombre_jug": {
													required: "Debe ingresar el nombre del jugador",
													minlength: "El nombre del jugador debe tener al menos 3 caracteres",
													maxlength: "El nombre del jugador no puede tener más de 30 caracteres"
											},
											"estatura_jug": {
													required: "Debe ingresar la estatura del jugador",
													number: "Por favor, ingrese un número válido para la estatura"
											},
											"salario_jug": {
													required: "Debe ingresar el salario del jugador",
													number: "Por favor, ingrese un número válido para el salario"
											},
											"estado_jug": {
													required: "Debe ingresar el estado del jugador"
											}
									},
									submitHandler: function (form) {
											form.submit();
									}
								});
				});

				function soloLetras(input) {
				input.value = input.value.replace(/[^a-zA-Z ]/g, '');
				}

				function soloNumeros(input) {
				input.value = input.value.replace(/[^0-9.,]/g, '');
				}

				function validarCorreo(input) {
				const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
				if (!regex.test(input.value)) {
					input.setCustomValidity('Ingrese un correo válido.');
				} else {
					input.setCustomValidity('');
				}
			}

    </script>
		<script type="text/javascript">
			 //let table = new DataTable('#tbl_clientes');
				$('#tbl_jugadores').DataTable( {
						dom: 'Bfrtip',
						buttons: [
						{
								extend: 'pdfHtml5',
								messageTop: 'REPORTE DE PARTICIPANTES - DJANGO Y DATATABLES.'
						},
						'print',
						'csv'
					],
					language: {
									url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
							}
					});

			</script>
{% endblock %}
