{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i> Agregar Posicion
</button>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Listado Equipos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_posiciones" class="display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE POSICION</th>
                                <th>DESCRIPCION</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for posicion in posiciones %}
                            <tr>
                                <td>{{ posicion.id_pos }}</td>
                                <td>{{ posicion.nombre_pos }}</td>
                                <td>{{ posicion.descripcion_pos }}</td>
                                <td>
                                    <a href="/editarPosicion/{{posicion.id_pos}}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="eliminarPosicion('{{posicion.id_pos}}');" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="/guardarPosicion/" method="post" enctype="multipart/form-data" id="frm_nueva_posicion">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre_pos"><b><i class="fas fa-user"></i> Nombre Posición:</b></label>
                    <input type="text" name="nombre_pos" id="nombre_pos" class="form-control" placeholder="Ingrese el Nombre de la Posición" oninput="soloLetras(this)"required>
                    </div>
                    <div class="form-group">
                    <label for="descripcion_pos"><b><i class="fas fa-file-alt"></i> Descripción Posición:</b></label>
                    <textarea name="descripcion_pos" rows="3" id="descripcion_pos" class="form-control" placeholder="Ingrese la Descripción de la Posición" oninput="soloLetras(this)"required></textarea>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" form="frm_nueva_posicion" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                  </div>
              </form>
          </div>

        </div>
    </div>
</div>

<script>
function eliminarPosicion(id_pos) {
    swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        buttons: {
            cancel: {
                visible: true,
                text: 'No, cancelar',
                className: 'btn btn-secondary'
            },
            confirm: {
                text: 'Sí, eliminarlo',
                className: 'btn btn-danger'
            }
        }
    }).then((willDelete) => {
        if (willDelete) {
            window.location.href = '/eliminarPosicion/' + id_pos;
        } else {
            swal("¡El Equipo está seguro!", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                }
            });
        }
    });
}
</script>
<script>
$(document).ready(function () {
    $("#frm_nueva_posicion").validate({
        rules: {
            "nombre_pos": {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            "descripcion_pos": {
                required: true,
                minlength: 8,
                maxlength: 200
            }
        },
        messages: {
            "nombre_pos": {
                required: "Debe ingresar el nombre de la posición",
                minlength: "El nombre de la posición debe tener al menos 5 caracteres",
                maxlength: "El nombre de la posición no puede tener más de 50 caracteres"
            },
            "descripcion_pos": {
                required: "Debe ingresar la descripción de la posición",
                minlength: "La descripción de la posición debe tener al menos 8 caracteres",
                maxlength: "La descripción de la posición no puede tener más de 200 caracteres"
            }
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
});

function soloLetras(input) {
    input.value = input.value.replace(/[^a-zA-Z ]/g, '');
}
</script>
<script type="text/javascript">
   //let table = new DataTable('#tbl_clientes');
    $('#tbl_posiciones').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        {
            extend: 'pdfHtml5',
            messageTop: 'REPORTE DE PARTICIPANTES - DJANGO Y DATATABLES.'
        },
        'print',
        'csv'
      ],
      language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
          }
      });

  </script>
{% endblock %}
