{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i> Agregar Equipo
</button>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Listado Equipos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_equipos" class="display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE-EQUIPO</th>
                                <th>SIGLAS</th>
                                <th>FUNDACION</th>
                                <th>REGIÓN</th>
                                <th>NÚMERO-TÍTULOS</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for equipo in equipos %}
                            <tr>
                                <td>{{ equipo.id_equi }}</td>
                                <td>{{ equipo.nombre_equi }}</td>
                                <td>{{ equipo.siglas_equi }}</td>
                                <td>{{ equipo.fundacion_equi }}</td>
                                <td>{{ equipo.region_equi }}</td>
                                <td>{{ equipo.numero_titulos_equi }}</td>
                                <td>
                                    <a href="/editarEquipo/{{equipo.id_equi}}" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="eliminarEquipo('{{equipo.id_equi}}');" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Equipo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form action="/guardarEquipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_equipo">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="nombre_equi"><b><i class="fas fa-users"></i> Nombre Equipo:</b></label>
                    <input type="text" name="nombre_equi" id="nombre_equi" class="form-control" oninput="soloLetras(this)" placeholder="Ingrese el Nombre del Equipo" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="siglas_equi"><b><i class="fas fa-info-circle"></i> Siglas Equipo:</b></label>
                    <input type="text" name="siglas_equi" id="siglas_equi" class="form-control"oninput="soloLetras(this)"  placeholder="Ingrese las Siglas del Equipo" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="region_equi"><b><i class="fas fa-map-marker-alt"></i> Región:</b></label>
                    <select name="region_equi" id="region_equi" class="form-control" required>
                      <option value="">Seleccione una región</option>
                      <option value="Azuay">Costa</option>
                      <option value="Bolívar">Sierra</option>
                      <option value="Cañar">Amazonia</option>
                      <option value="Carchi">Insular</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="numero_titulos_equi"><b><i class="fas fa-trophy"></i> Número Títulos:</b></label>
                    <input type="number" name="numero_titulos_equi" id="numero_titulos_equi" oninput="soloNumeros(this)" class="form-control" placeholder="Ingrese el Número de Títulos" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="fundacion_equi"><b><i class="fas fa-calendar-alt"></i> Fundación:</b></label>
                    <input type="number" name="fundacion_equi" id="fundacion_equi" oninput="soloNumeros(this)"class="form-control" placeholder="Ingrese el Año de Fundación" required>
                  </div>
                </div>

                    <div class="modal-footer">
                    <button type="submit" form="frm_nuevo_equipo" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                  </div>
              </form>
          </div>

        </div>
    </div>
</div>

<script>
function eliminarEquipo(id_equi) {
    swal({
        title: '¿Estás seguro?',
        text: "¡No podrás revertir esto!",
        icon: 'warning',
        buttons: {
            cancel: {
                visible: true,
                text: 'No, cancelar',
                className: 'btn btn-secondary'
            },
            confirm: {
                text: 'Sí, eliminarlo',
                className: 'btn btn-danger'
            }
        }
    }).then((willDelete) => {
        if (willDelete) {
            window.location.href = '/eliminarEquipo/' + id_equi;
        } else {
            swal("¡El Equipo está seguro!", {
                icon: "info",
                buttons: {
                    confirm: {
                        className: 'btn btn-success'
                    }
                }
            });
        }
    });
}
</script>
<script>
        $(document).ready(function () {
            $("#frm_nuevo_equipo").validate({
                rules: {
                    "nombre_equi": {
                        required: true,
                        minlength: 3,
                        maxlength: 70,

                    },
                    "siglas_equi": {
                        required: true,
                        minlength: 2,
                        maxlength: 10,

                    },
                    "region_equi": {
                        required: true
                    },
                    "numero_titulos_equi": {
                        required: true,
                        digits: true,
                        minlength: 1,
                        maxlength: 3
                    },
                    "fundacion_equi": {
                        required: true,
                        digits: true,
                        minlength: 4,
                        maxlength: 4
                    }
                },
                messages: {
                    "nombre_equi": {
                        required: "Debe ingresar el nombre del equipo",
                        minlength: "El nombre del equipo debe tener al menos 3 caracteres",
                        maxlength: "El nombre del equipo no puede tener más de 70 caracteres"
                    },
                    "siglas_equi": {
                        required: "Debe ingresar las siglas del equipo",
                        minlength: "Las siglas deben tener al menos 2 caracteres",
                        maxlength: "Las siglas no pueden tener más de 10 caracteres"
                    },
                    "region_equi": {
                        required: "Debe ingresar la región del equipo"
                    },
                    "numero_titulos_equi": {
                        required: "Debe ingresar los títulos del equipo",
                        digits: "Por favor, ingrese solo números",
                        minlength: "Los títulos deben tener al menos 1 dígito",
                        maxlength: "Los títulos no pueden tener más de 3 dígitos"
                    },
                    "fundacion_equi": {
                        required: "Debe ingresar el año de fundación del equipo",
                        digits: "Por favor, ingrese solo números",
                        minlength: "El año de fundación debe tener 4 dígitos",
                        maxlength: "El año de fundación debe tener 4 dígitos"
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        function soloLetras(input) {
            input.value = input.value.replace(/[^a-zA-Z ]/g, '');
        }

        function soloNumeros(input) {
            input.value = input.value.replace(/[^0-9]/g, '');
        }

        function validarCorreo(input) {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!regex.test(input.value)) {
                input.setCustomValidity('Ingrese un correo válido.');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
    <script type="text/javascript">
  		 //let table = new DataTable('#tbl_clientes');
  			$('#tbl_equipos').DataTable( {
  					dom: 'Bfrtip',
  					buttons: [
  					{
  							extend: 'pdfHtml5',
  							messageTop: 'REPORTE DE PARTICIPANTES - DJANGO Y DATATABLES.'
  					},
  					'print',
  					'csv'
  				],
  				language: {
  								url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
  						}
  				});

  		</script>
{% endblock %}
